<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/marketStyle/marketStyle.css" />
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/homeStyle/style.css" />
    <link rel="stylesheet" href="/sharedStyle/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../../../components/header') %>
    <div class="directory-of-markets">
      <a href="javascript:window.history.back()"><img class="back-button" src="/image/navigate_before.svg" /></a>
      <div class="vendor">
        <div class="lorem-ipsum-dolor-sit-amet-consectetur">
          Over 30 vendors each week with variety of selections.
        </div>
        <a href="/market/show/<%= allMarkets[0].marketId %>">
          <div class="business-name"><%= allMarkets[0].name %></div>
        </a>
        <a href="/market/show/<%= allMarkets[0].marketId %>"><img class="rectangle-3" src="<%= allMarkets[0].photo %>" /></a>
        <div class="category">
          <div class="rectangle-15"></div>
          <div class="hastings-park">Hastings</div>
        </div>
        <div class="category2">
          <div class="rectangle-15"></div>
          <div class="hastings-park2">Winter Market</div>
        </div>
      </div>
      <div class="vendor2">
        <div class="lorem-ipsum-dolor-sit-amet-consectetur">
          Over 50 vendors featuring food and coffee trucks.
        </div>
        <a href="/market/show/<%= allMarkets[1].marketId %>">
          <div class="business-name"><%= allMarkets[1].name %></div>
        </a>
        <a href="/market/show/<%= allMarkets[1].marketId %>"><img class="rectangle-3" src="<%= allMarkets[1].photo %>" /></a>
        <div class="category">
          <div class="rectangle-15"></div>
          <div class="hastings-park3">Kits Market</div>
        </div>
        <div class="category2">
          <div class="rectangle-15"></div>
          <div class="hastings-park4">Summer Market</div>
        </div>
      </div>
      <div class="vendor3">
        <div class="lorem-ipsum-dolor-sit-amet-consectetur">
          Local BC produce, artisan crafts, and delicious baked goods.
        </div>
        <a href="/market/show/<%= allMarkets[2].marketId %>">
          <div class="business-name"><%= allMarkets[2].name %></div>
        </a>
        <a href="/market/show/<%= allMarkets[2].marketId %>"><img class="rectangle-3" src="<%= allMarkets[2].photo %>" /></a>
        <div class="category">
          <div class="rectangle-15"></div>
          <div class="hastings-park5">Port Moody</div>
        </div>
        <div class="category2">
          <div class="rectangle-15"></div>
          <div class="hastings-park6">All Seasons</div>
        </div>
      </div>
      <div class="vendor-overflow">
        <div class="lorem-ipsum-dolor-sit-amet-consectetur2">
          Custom cutting boards hand-made with care.
        </div>
        <a href="/market/show/<%= allMarkets[3].marketId %>">
          <div class="business-name"><%= allMarkets[3].name %></div>
        </a>
        <a href="/market/show/<%= allMarkets[3].marketId %>"><img class="rectangle-3" src="<%= allMarkets[3].photo %>" /></a>
        <div class="category3">
          <div class="rectangle-15"></div>
          <div class="hastings-park7">Port Coquitlam</div>
        </div>
        <div class="category4">
          <div class="rectangle-15"></div>
          <div class="hastings-park2">Winter Market</div>
        </div>
      </div>
      <div class="all-markets">All Markets</div>
    </div>
    <%- include('../../../components/footer') %>
  </body>
</html>
