<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/searchStyle/style.css" />
    <link rel="stylesheet" href="/sharedStyle/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  </head>
  <body>
    <%- include('../../../components/header') %>
    
    <div class="search">
      <div class="div">
        <div class="searchbar-condensed">
          <div class="group">
            <div class="overlap-group">
              <!-- <div class="ellipse"></div> -->
              <!-- <img class="line" src="image/search_24px.svg" /> -->
            </div>
          </div>
          <form action="/search" method="POST">
            <input type="text" name="keyword" class="search-input" placeholder="Markets, Vendors, Product">
            <button type="submit" class="search-button">
              <i class="fas fa-search"></i>
            </button>
          </form>
          <a href="/home"><img class="back-button" src="/image/navigate_before.svg" /></a>
        </div>

        <div class="results">
            <div class="market-results">
              <div class="market-title">
                  <p>Markets</p>
                  <div class="market-list">
                      <% markets.forEach(market => { %>
                          <ul>
                              <li>
                                <img src="/image/defaultMarketImg.png" alt="img" class="market-image">
                                <%= market.location %></li>
                          </ul>
                      <% }) %>
                  </div>
              </div>
            </div>
  
  
          <div class="vendor-results">
              <div class="vendor-title">
                  <p>Vendor</p>
                  <div class="vendor-list">
                      <% vendors.forEach(vendor => { %>
                          <ul>
                              <li>
                                <img src="/image/defaultVendorImg.png" alt="img" class="vendor-image">
                                <%= vendor.name %></li>
                          </ul>
                      <% }) %>
                  </div>
              </div>
          </div>
          
      
          <div class="product-results">
              <div class="product-title">
                  <p>Products</p>
                  <div class="product-list">
                      <% products.forEach(product => { %>
                          <ul>
                              <li>
                                <img src="/image/defaultProductImg.png" alt="img" class="product-image">
                                <a href="/products/<%= product.productId %>"><%= product.name %></a>
                                <!-- <input type="hidden" name="productId" value="<%= product.productId %>"> -->
                              </li>
                          </ul>
                      <% }) %>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    
    <%- include('../../../components/footer') %>

  </body>
</html>