<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/sharedStyle/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/homeStyle/style.css" />
    <script src="/scripts/add-to-cart.js"></script>
  </head>
  <body>
    <%- include('../../../components/header') %>
    <div class="home-page">
      <div class="div">
        <div class="category-header">Categories</div>
        <div class="featured-market-header">Featured Market</div>
        <div class="browse-markets-header">Browse Markets</div>
        <div class="browse-vendors-header">Browse Vendors</div>
        
        <div class="view-all-vendors"><a href="/vendor/list">View all</a></div>
        <div class="view-all-markets"><a href="/market/list">View all</a></div>
        <div class="view-all-categories">View all</div>

        <div class="all-markets">
          <% randomMarkets.forEach(market => { %>
            <div class="market-item">
              <div class="div-wrapper"><img class="market-img" src=<%= market.photo %> />
              <div class="market-name"><%= market.name %></div>
              </div>
            </div>
          <% }) %>
        </div>

        <div class="all-vendors">
          <% randomVendors.forEach(vendor => { %>
            <div class="vendor-item">
              <div class="mid-banner-3"><img class="vendor-img" src=<%= vendor.photo %> />
              <a href="/vendor/<%= vendor.vendorId %>"><div class="vendor-name"><%= vendor.name %></div></a>
            </div>
            </div>
          <% }) %>
    
        </div>
      

        <div class="vendor">
          <p class="featured-market-description">Over 30 vendors each week with variety of selections.</p>
          <a class="button-full-effect" href="/market"><div class="business-name"><%= featuredMarket.name %></div></a>
          <img class="featured-market-photo" src=<%= featuredMarket.photo %> />
          <div class="category"><div class="text-wrapper-17">Hastings Park</div></div>
          <div class="hastings-park-wrapper"><div class="hastings-park">Winter Market</div></div>
        </div>

        <div class="category-2"><div class="hastings-park-2">Produce</div></div>
        <div class="category-3"><div class="hastings-park-3">Fruit</div></div>
        <div class="category-4"><div class="hastings-park-3">Beverages</div></div>
        <div class="category-5"><div class="hastings-park-3">Alcohol</div></div>
        <div class="category-6"><div class="hastings-park-4">Poultry</div></div>
        <div class="category-7"><div class="hastings-park-3">Specialty</div></div>
        <div class="category-8"><div class="hastings-park-3">Meats</div></div>
        <div class="category-9"><div class="hastings-park-4">Baked Goods</div></div>

        <div class="overlap">
          <div class="popular-items-header">Popular Items</div>
          <div class="item-carosel">
            <div class="item-content">
              <% randomProducts.forEach(product => { %>
                <div class="overlap-group">
                  <div class="rectangle-wrapper"><img class="img" src="<%= product.primaryPhoto %>" /></div>
                  
                  <form action="/customer/addToCart/<%= product.productId %>" method="POST" class="add-to-cart-form">
                    <button type="submit" class="add-to-cart-wrapper"><img class="add-to-cart-2" src="/image/add_24px.svg" /></button>
                  </form>
                
                  <div class="product-info">
                    <div class="text-wrapper-product-name"><a href="/products/<%= product.productId %>" title="<%= product.name %>"><%= product.name %></a></div>
                    <div class="text-wrapper-product-price">$<%= product.price %></div>
                  </div>
                </div>
              <% }) %>
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../../components/footer') %>
  </body>
</html>
