<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/vendorStyle/style.css" />
    <link rel="stylesheet" href="/sharedStyle/style.css" />
  </head>
  <body>
    <%- include('../../../components/header') %>

    <div class="vendor-page">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
          <div class="element-col-info">
            <p class="text-wrapper">2901 E Hastings St, <br />Vancouver, BC <br />V5K 5J1</p>
            <div class="text-wrapper-2">Location</div>
          </div>
          <div class="element-col-info-with-two">
            <div class="hour">
              <p class="mon-thur-fri-sat-sun">Mon - Thur<br />Fri<br />Sat / Sun</p>
              <div class="closed">Closed<br />15:00-19:00<br />10:00-19:00</div>
              <div class="text-wrapper-3">Hours</div>
            </div>
          </div>
        </div>
        <div class="component-wrapper">
          <div class="component">
            <div class="text-wrapper">123-345-6789<br />bobtomato@gmail.com</div>
            <p class="for-inquires">For inquires regarding custom orders, contact us by email.</p>
            <div class="text-wrapper-2">Contact</div>
          </div>
        </div>

        <div class="products-container">
            <% const productsByVendor = vendorById.products %>

              <% productsByVendor.forEach(product => { %>
                  <div class="product-card">
                      <img src="<%= product.primaryPhoto %>" alt="product-image" class="product-image">
                      <div class="product-name"><a href="/products/<%= product.productId %>"><%= product.name %></a></div>
                      <div class="product-price">$<%= product.price %></div>
                      <div class="overlap-group">
                        <img class="add-to-cart" src="/image/add_24px.svg" />
                      </div>
                  </div>
              <% }) %>
        </div>


        <div class="overlap-2">
          <div class="vendor-name"><%= vendorById.name %></div>
          <img class="back-button" src="/image/navigate_before.svg" />
          <div class="small-button"><div class="our-story">Our Story</div></div>
        </div>
        <div class="products-header">Products</div>
        <div class="rectangle-3"><img src=<%= vendorById.photo %> /></div>
        <button class="small-button-arrow">
          <div class="frame"><div class="view-more">View More</div></div>
          <img class="icons-arrow-forward" src="/image/right-arrow.png" />
        </button>

      </div>
    </div>
    <%- include('../../../components/footer') %>

  </body>
</html>
