<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/vendorStyle/style.css" />
    <link rel="stylesheet" href="/sharedStyle/style.css" />
  </head>
  <body>

    <%- include('../../../components/header') %>

    <div class="vendor-list">
      <div class="div">
        <a href="javascript:window.history.back()"><img class="back-button" src="/image/navigate_before.svg" /></a>
        <div class="vendors">All Vendors</div>
        <% allVendors.forEach(vendor => { %>
            <div class="vendor">
                <p class="description"><%= vendor.description %></p>
                <div class="business-name"><a href="/vendor/show/<%= vendor.vendorId %>"><%= vendor.name %></a></div>
                <img class="rectangle" src=<%= vendor.photo %> />
                <a href="/market/<%= vendor.market.marketId %>"></a><div class="category"><div class="text-wrapper"><%= vendor.market.name %></div></div></a>
                <div class="hastings-park-wrapper"><div class="hastings-park">N/A</div></div>
              </div>
       <% }) %>
      </div>
    </div>
    <%- include('../../../components/footer') %>
  </body>
</html>


