<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/sharedStyle/style.css" />
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/productStyle/style.css" />
  </head>
  <body>
    <%- include('../../../components/header') %>

    <div class="item-page">
      <div class="div">
        <div class="add-to-cart">
          <a href="/customer/addCart"></a>
            <div class="group">
              <div class="text-wrapper">Add to Cart</div>
              <img class="vector" src="/image/shopping-cart.png" />
            </div>  
          </a>
        </div>
        <div class="item-page-image">
          <img class="rectangle" src="<%= product.primaryPhoto %>" />
          <div class="filled-item">
            <img class="rectangle" src="<%= product.secondaryPhoto1 %>" />
          </div>
          <div class="filled-item-2">
            <img class="rectangle" src="<%= product.secondaryPhoto2 %>" />

          </div>
          <div class="mini-item-picture">
            <img class="rectangle" src="<%= product.secondaryPhoto3 %>" />

          </div>
        </div>
        <div class="item-description">
          <img class="favourite" src="/image/Property 1=Default.svg" />
          <div class="item-name"><%= product.name %></div>
          <div class="text-wrapper-2">$<%= product.price %></div>
          <div class="vendor-name"><%= product.vendor.name %></div>
          <div class="element-reviews">4.8&nbsp;&nbsp;|&nbsp;&nbsp;36 reviews</div>
          <img class="star" src="/image/star.png" />
          <p class="a-true-embodiment-of"><%= product.description %></p>
        </div>
        <div class="text-wrapper-3">Other items</div>
        <div class="item-carosel">
          <div class="item-content">
            <% randomProducts.forEach(product => { %>
              <div class="overlap-group">
                <div class="rectangle-wrapper"><img class="img" src="<%= product.primaryPhoto %>" /></div>
                <a href="/customerOrder/addToCart"><div class="add-to-cart-wrapper"><img class="add-to-cart-2" src="/image/add_24px.svg" /></div></a>
              
                <div class="product-info">
                  <div class="text-wrapper-product-name"><a href="/products/<%= product.productId %>"><%= product.name %></a></div>
                  <div class="text-wrapper-product-price">$<%= product.price %></div>
                </div>
              </div>
            <% }) %>
          
          </div>
        </div>
        <img class="back-button" src="/image/navigate_before.svg" />
        </div>
      </div>
    </div>
    <%- include('../../../components/footer') %>
  </body>
</html>
